---
---

@import "{{ site.theme }}";




.conferences {
    td > div {
        display: flex;
        align-items: center;
    }

    .icon {
        min-width: 16px;
        min-height: 16px;
        margin-right: 8px;
        display: inline-block;

        img {
            display: block;
            max-width: 16px;
            max-height: 16px;
        }
    }
  
    td {
        white-space: nowrap;
    }
}

.conferences {
    @include media-query($on-laptop) {
        table-layout: fixed;
    }
}
.conferences td {
    @include media-query($on-laptop) {
        overflow: hidden;
        text-overflow: ellipsis;
    }
}